{{extend 'layout.html'}}
<head>
</head>
</head>
<body>
{{head=['Music','Gaming']}}
<ul class="nav nav-list" style="float:left">
<li class="nav-header"><h4>Categories</h4></li>
{{for i in head:}}
	<li>{{=A(i,_href=URL('heading',args=i))}}</li>
{{pass}}
</ul>
<table border=0 style="position:relative;left:200px">
{{count=1}}
{{for i in d:}}
{{temp=i.id}}
{{all_likes=[]}}
{{all_likes=db(db.likes.Item_id==temp).select(db.likes.ALL)}}
		<tr>
			<td>
				{{=count}}.
			</td>
			<td>
{{if auth.user and auth.user_id!=i['created_by']:}}
	{{if len(all_likes)==0:}}
		<ul class="nav nav-list">
			<li><pre style="padding:1px;width:12px"><a href="{{=URL('like',args=temp)}}"><i class="icon-arrow-up"></i></a></pre></li>
			<li><pre style="padding:1px;width:12px"><a href="{{=URL('dislike',args=temp)}}"><i class="icon-arrow-down"></i></a></pre></li>
		</ul>
	{{elif all_likes[0]['flag_likes']==1:}}
		<ul class="nav nav-list">
			<li><pre style="padding:1px;width:12px"><a href="{{=URL('like',args=temp)}}"><i class="icon-arrow-up"></i></a></li>
			<li><pre style="padding:1px;width:12px"><i class="icon-arrow-down"></i></pre></li>
		</ul>
	{{else:}}
		<ul class="nav nav-list">
			<li><pre style="padding:1px;width:12px"><i class="icon-arrow-up"></i></pre></li>
			<li><pre style="padding:1px;width:12px""><a href="{{=URL('dislike',args=temp)}}"><i class="icon-arrow-down"></i></a></pre></li>
		</ul>
{{pass}}
{{pass}}
			</td>
			<td>
			<a href="{{=i['url']}}">{{=i['heading']}}</a></br>
			<small>{{=i['count_comment']}} comments,</small>
			<small>Posted on <b>{{=i['post']}}</b></small>
			</td>
			<!--conditions for the edition and deletion only for the user who created and the admin i have assumed 1 as admin-->
			{{if auth.user:}}
			{{if auth.user_id==1 or auth.user_id==i['created_by'] :}}
			<td >
				<a href="{{=URL('edit_item',args=i.id)}}">edit</a>
			</td>
			<td>
				<a href="{{=URL('delete_item',args=i.id)}}">delete</a>
			</td>
			{{else:}}
			<td>
			</td>
			<td>
			</td>
{{pass}}
{{pass}}
			<td>
			<form action="{{=URL('post',args=i.id)}}">
			<button type="submit" class="btn btn-info">Comments</button>
			</form>
			</td>
		</tr>
{{count+=1}}
{{pass}}
	</table>
</ol>
<div style="position:fixed;top:200px;right:60px;">
	<form action="{{=URL('link')}}">
		<button type="submit" class="btn btn-success">Submit a Link on the left</button>
	</form>
	</div>
</body>
